.settings__item {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    transition: opacity .2s ease-in-out;
    cursor: auto;

    .settings__content {
        position: absolute;
        background-color: var(--on-settings-card);
        flex-direction: column;
        display: flex;
        border: solid 1px var(--on-settings-card);
        border-radius: 10px;
        width: 190px;
        height: 100px;
        top: 64px;
        right: 174px;
        color: var(--wht);

        .wallet__disconnect{
        cursor: pointer;
          margin-left: 10px;
          border: solid 1px var(--disconnect-others);
          text-align: center;
          border-radius: 3px;
          margin-right: 5px;
          
         
          &:hover {
            background: var(--disconnect);
            color: var(--disconnect-hover);

            button {
                color: var(--disconnect-hover);
            }
        }

          button {
            font-weight: bold;
            text-transform: uppercase;
            color: var(--disconnect);
           
            &:hover {
                background: var(--disconnect);
                color: var(--disconnect-hover);
            }
          }
          
        }

        .theme-switch-wrapper {
            display: flex;
            justify-content: space-between;
            // right: 180px;
            // top: 30px;

        }
        
        .theme-switch {
            height: 24px;
            position: relative;
            width: 48px;
            margin-right: -35px;
            margin-top: 16px;
            input {
                display: none;
            }
        }
        .slider {
            background: var(--onSliderColorChange);
            bottom: 0;
            cursor: pointer;
            left: -63px;
            position: absolute;
            right: 61px;
            top: -12px;
            bottom: 12px;
            transition: 0.2s;
            &::before {
                bottom: 4px;
                height: 19px;
                left: 4px;
                position: absolute;
                transition: 0.2s;
                width: 26px;
            }
        }
        .uil-brightness-low {
            font-size: 19px;
            color: rgb(247, 243, 3);
        }
        .uil-moon {
            font-size: 19px;
            color: black;
        }
        input {
            &:checked {
                background: var(--onSliderColorChange);
                + {
                    .slider {
                        &::before {
                            transform: translateX(23px);
                        }
                    }
                }
            }
        }
        .slider.round {
            border-radius: 34px;
            &::before {
                border-radius: 50%;
            }
        
        }
    }
}