.settings__item {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    transition: opacity .2s ease-in-out;
    cursor: auto;

    .settings__content {
        position: absolute;
        background-color: white;
        flex-direction: column;
        display: flex;
        border: solid 1px grey;
        border-radius: 10px;
        width: 190px;
        height: 100px;
        top: 64px;
        right: 174px;
        color: black;

        .theme-switch-wrapper {
            display: flex;
            justify-content: space-between;
            // right: 180px;
            // top: 30px;

        }
        
        .theme-switch {
            display: inline-block;
            height: 34px;
            position: relative;
            width: 60px;
            input {
                display: none;
            }
        }
        .slider {
            background: var(--onSliderColorChange);
            bottom: 0;
            cursor: pointer;
            left: -63px;
            position: absolute;
            right: 61px;
            top: -12px;
            bottom: 12px;
            transition: 0.2s;
            &::before {
                bottom: 4px;
                height: 26px;
                left: 4px;
                position: absolute;
                transition: 0.2s;
                width: 26px;
            }
        }
        .uil-brightness-low {
            font-size: 24px;
            color: rgb(247, 243, 3);
        }
        .uil-moon {
            font-size: 24px;
            color: black;
        }
        input {
            &:checked {
                background: var(--onSliderColorChange);
                + {
                    .slider {
                        &::before {
                            transform: translateX(29px);
                        }
                    }
                }
            }
        }
        .slider.round {
            border-radius: 34px;
            &::before {
                border-radius: 50%;
            }
        
        }
    }
}