.election {
    display: flex;
    flex-direction: column;
    margin-top: 100px ; 
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .election__content {
       display: flex;
       flex-direction: column;

     .election__cards{
        margin-left: -40px;
        margin-top: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 13px;
       }

    }

 
}