.election {
    display: flex;
    flex-direction: column;
    margin-top: 100px ; 
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}