/*toggle dark*/
ul li {
	margin: 25px;
	margin-left: -5px !important;
	font-weight: bold;
	

	&:hover {
		margin-left: -10px !important;
		border-right: solid 5px #3981C6 !important;
		background-color: #dddcdc;
		color: #3981C6;
	}
	&:active {
		margin-left: -10px !important;
		border-right: solid 5px #3981C6 !important;
		background-color: #dddcdc;
		color : #3981C6;

	}
}


.settings {
	margin: 10px 20px 10px 10px;
	border: solid 1px grey;
	border-radius : 5px;
	width: 40px;
	cursor : pointer;
	background: whitesmoke;

	// &:hover {
	// 	color: white;
	// 	background-color: black;
	// }
	&:active {
		color: white;
		background-color: black;
	}
}
