.voting__page{
  margin-top: 100px ; 
  margin-left: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;

  @media  screen and (max-width: 999px) {
    margin-left: 0px;
  }
  
.voting__header {
  background-color: var(--on-voting-bg);
// opacity: 1;
// 
// background-size: 22px 22px;
// background-image: radial-gradient(#b0adad 1.1px, #161616 1.1px);

    width: 60vw;
    // background-color: #e9e9f7;
    opacity: 0.7;
    // background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e9e9f7 10px ), repeating-linear-gradient( #f5f5ff55, #f5f5ff );
    //   background: #fff !important;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 1px solid var(--on-voting-bg);
    color: var(--wht);

    @media  screen and (max-width: 999px) {
      width: 90vw;
    }


   h1 {
       text-align: center;
       align-items: center;
       justify-content: center;
       font-weight: bolder;
       font-size: 21px;
       padding: 10px;
       text-transform: uppercase;
   }
   p {
       margin: 10px;
       text-align: left;
       justify-content: left;
       align-items: left;
   }
}

.voting__card_header{
    display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }

  .voting__card {
      width: 30vw;
      background: var(--on-settings-card);
      color: var(--wht);
      border: 1px solid var(--on-voting-bg);
      padding: 10px;
      margin: 10px;
      box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.05);
      border-radius: 10px;

      @media  screen and (max-width: 999px) and (min-width: 450px) {
        width: 45vw;
      }
      @media  screen and (max-width: 450px) {
        width: 85vw;
      }

      h1 {
        text-align: left;
        align-items: left;
        justify-content: left;
        font-weight: 600;
        font-size: 21px;
        padding: 10px;
        text-transform: uppercase;
      }
      button {
          display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border: 1px solid #3981C6;
        width: 25vw;
        margin: 20px;
        border-radius: 10px;
        height: 45px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #3981C6;

        @media screen and (max-width: 450px) {
           width: 40vw;
        }

        &:hover{
            background: #3981C6;
            color: white;
        }
      }
  }
}

}