/* // Copyright Fortior Blockchain 2022
// 17 U.S.C §§ 101-1511 */

@import "../styles/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;

  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  position: relative;
}
* {
  box-sizing: border-box !important;
  font-family: "Open sans" !important;
}

#root {
  z-index: 21474836470;
}

:root {
  --wht: #fff;
  --txt: #999;
  --list_h: 68px;
  --l1: #e6e6e635;
  --white: #fdfdfd;
  --back-1: #363636;
  --back-2: #4a4a4a;
  --bord-dark: #666;
  --txt-alt: #808080;
  --txt-alt-2: #aaaa;
  --sm-hd-height: 60px;
  --dark-800: #242424;
  --dark-800: #1a1a1a;
  --sm-nav-height: 70px;
  --main-col: #2958ff;
  --container-width: 550px;
  --sm-hd-height-half: 60px;
  --main-col-inv: #ccf381;
  --list-border: 1px solid rgba(255, 255, 255, 8%);
}

main {
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
}

.light_theme {
  --white : #fff;
  --color: "#808080";
  --txt-alt: #555;
  --wht: #000;
  --nav-active : black;
  --nav-not-active: rgb(41, 38, 38);

  --back-1: #fdfdfd;

  --back-2: #f2f2f2;

  --l1: #333;
  --on-settings-card : white;
  --navicons-bg : whitesmoke; 
  --navicons-color : black;
   
 --onSliderColorChange : rgb(236, 236, 236);
  --list-border: 1px solid rgba(0, 0, 0, 18%);

  --background: var(--white);
  --border-default: rgba(0, 0, 0, 18%);
  background-color: var(--background);
  --timer : blue;
  --wallet-content : whitesmoke;
  --disconnect : rgb(116, 19, 19);
  --disconnect-others : rgb(105, 17, 17);
  --disconnect-hover : whitesmoke;
  --background--hover : #dddcdc;
  --voting-bg: white;

}
.dark_theme {
  --voting-bg: #161616 ;
  --background--hover : #b3aeae;
  --navicons-color : whitesmoke;
  --navicons-bg : #494949;
  --disconnect-others : #ff603e;
  --disconnect : #ff603e;
  --disconnect-hover : rgb(36, 34, 34);
  --white : black;
  --color: "#808080";
  --nav-active : whitesmoke;
  --nav-not-active: grey;
  --background: var(--dark-800);
  --border-default: rgba(255, 255, 255, 8%);
  background-color: var(--background);
  --timer : grey;
  --wallet-content : grey;
  --onSliderColorChange: grey;
  --on-settings-card : #363636;
}

.big_screen {
  --sm-hd-height: 64px;
}

/* Header Mobile */
.small_header {
  top: 0;
  left: 0;
  z-index: 90;
  width: 100vw;
  display: flex;
  font-size: 13px;
  color: var(--wht);
  position: fixed;
  background: var(--background);
  flex-direction: column;
  border-bottom: 1px solid var(--border-default);
}

/* ****************** */
.listNavBig {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.listNavBig li {
  /* opacity: 0.8; */
  font-size: 12px;
  margin: 0px 8px;
  cursor: pointer;
  letter-spacing: 0.5px;
  padding-bottom: 3px;
}
.listNavBig li a:focus,
.listNavBig li a:hover {
  border: none;
  outline: none;
}
.listNavBig li:hover {
  border-bottom: 1px solid var(--wht);
}

/* Addresses 
****************** */
.addrDisplay {
  position: relative;
  /* z-index: 1; */
}
.addrDispMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--sm-hd-height-half);
}
.addrDisplay .dropDownConnect_items {
  right: 0;
  position: absolute;
  flex-direction: column;
  background: var(--back-1);
  border-radius: 8px;
  display: none;
  border: 1px solid var(--border-default);
}
.addrDisplay .dropDownConnect_item {
  padding: 15px 20px;
}

.addrDisplay:hover .dropDownConnect_items {
  display: flex;
}

.addrDisplay .dropDownConnect_item_txt {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* *************** */
.dropDownConnect {
  position: relative;
  /* z-index: 99999999; */
}

/*  */

.addrDisplayInn {
  color: var(--wht);
  font-size: 12px;
  background: var(--back-1);
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0.4px;
  white-space: nowrap;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 60vw;
  overflow: hidden;
  border: 1px solid var(--border-default);
}
.addrBalance,
.addressTxt {
  display: flex;
  padding: 4px 10px;
  flex-direction: row;
}
.addrBalance {
  border-right: 1px solid var(--border-default);
}
.addressTxt {
  max-width: 120px;
}
.addressTxt p {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Connect Wallet */
.dropDownConnect .dropDownConnect_button {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: var(--sm-hd-height-half);
}
.dropDownConnect .dropDownConnect_items {
  right: 0;
  position: absolute;
  flex-direction: column;
  background: var(--back-1);
  border-radius: 8px;
  display: none;
  border: 1px solid var(--border-default);
}

.dropDownConnect:hover .dropDownConnect_items {
  display: flex;
}

.dropDownConnect_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  padding-right: 40px;
  cursor: pointer;
}
.dropDownConnect_item {
  border-bottom: 1px solid var(--border-default);
}
.dropDownConnect_item:last-child {
  border-bottom: none;
}
.dropDownConnect_img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  font-size: 14px;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}
.dropDownConnect_img img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100%;
}

.dropDownConnect_item_txt {
  font-size: 15px;
  opacity: 0.7;
  white-space: nowrap;
}

/*  */
.connect_wallet_button {
  color: var(--wht);
  font-size: 12px;
  background: var(--back-1);
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0.4px;
  white-space: nowrap;
  text-transform: uppercase;
  border: 1px solid var(--border-default);
}
.connect_wallet_button p {
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
}

.small_header_inn {
  width: 100%;
  display: flex;
  font-size: 13px;
  /* padding: 0px 5vw; */
  flex-direction: row;
  height: var(--sm-hd-height-half);
  justify-content: space-between;
}

.small_header_inn p {
  opacity: 0.8;
}

.light_theme .small_header_inn {
  font-weight: 500;
}

.sm_act_menu_butt {
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2px;
  margin-right: 20px;
}

/* Navbar Mobile */
.ft_sm {
  bottom: 0;
  width: 100vw;
  z-index: 90;
  height: var(--sm-nav-height);
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  border-top: 1px solid var(--border-default);
}

.ft_sm_inn {
  color: var(--wht);
  height: 100%;
  display: flex;
  width: 90vw;
  flex-direction: row;
  max-width: 400px;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
.ft_sm_li {
  display: flex;
  font-size: 13px;
  align-items: center;
  flex-direction: column;
}
.ft_sm_li a:active,
.ft_sm_li a:focus {
  border: none;
  outline: none;
}

.ft_sm_li i {
  font-size: 20px;
  margin-bottom: 2px;
}

/* Menu Mobile */
.mn_sm {
  top: 0px;
  width: 100vw;
  height: 100%;
  z-index: 99;
  position: fixed;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.6);
}
.mn_sm_modal {
  width: 350px;
  max-width: 87vw;
  display: flex;
  color: var(--wht);
  font-size: 15px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  border-top: 1px solid var(--border-default);
}
.mn_sm_modal_inn {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0px;
  border: 1px solid var(--l1);
}
.mn_l1 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--l1);
}
.mn_l1 li {
  margin-bottom: 16px;
}
.mn_l1 li a i {
  margin-right: 15px;
}

.mn_l2 {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--l1);
}
.mn_l2 li a {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.mn_l2 li a i {
  margin-right: 15px;
}

.mn_sm_modal .Marquee__Wrapper {
  margin: 0px !important;
  margin-top: 4px;
}
.mn_sm_modal .Marquee__TextGroup {
  animation-duration: 60s !important;
}
.mn_sm_modal .Marquee__Word {
  opacity: 0.4;
  font-size: 12px;
  font-weight: 400;
  word-spacing: 4px;
  padding: 20px 0px;
  text-transform: uppercase;
}

/* Algo connect */
.algo_connect_hd {
  display: flex;
  font-size: 15px;
  color: var(--wht);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 13px 0px 16px;

  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  opacity: 0.7;
  background: var(--background);
  top: calc(var(--sm-hd-height));
}

.connect_butt {
  display: flex;
  padding: 25px 0px;
  align-items: center;
  flex-direction: row;
  margin: 10px 0px;
  cursor: pointer;
  border-bottom: 1px solid var(--l1);
}
.connect_butt:nth-child(3) {
  margin-bottom: 20px;
  border-bottom: none;
}
.connect_wallet_img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}
.connect_wallet_img img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100%;
}
.connect_wallet_txt {
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

/* Elections Modal */
.modal_cov {
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.4);
}
.close_modal {
  width: 420px;
  display: flex;
  max-width: 88vw;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--main-col);
  border-radius: 8px;
  align-items: center;
  background: #eeeeee;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  border: var(--list-border);
  padding: 14px 18px 14px 16px;
}

.modal_cont {
  width: 420px;
  max-width: 88vw;
  min-height: 300px;

  display: flex;
  border-radius: 8px;
  flex-direction: column;
  background: var(--back-1);
  background: #eeeeee;
  border: var(--list-border);
  padding: 12px 18px 12px 16px;
}
.modal_r1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal_elt_img img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #ccc;
  border: 1px solid var(--main-col);
}
.modal_elt_tit {
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  /* color: var(--main-col); */
}

.modal_elt_desc {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
}

/*  */
.modal_cand {
  margin-top: 20px;
}
.modal_cand_hd {
  display: flex;
  font-size: 13px;
  opacity: 0.7;
  margin: 13px 0px;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.modal_cand_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.cand_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 15px;
  margin-bottom: 10px;
}
.cand_img_cont img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #ccc;
}

.cand_det {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}
.modal_butts {
  display: flex;
  margin: 30px 0px 20px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.modal_butts button {
  font-size: 13px;
  color: var(--wht);
  padding: 10px 20px;
  background: #000;
  border-radius: 8px;
}

.land_item1 h3{
  font-family: 'Roboto Mono', monospace !important;
}
/* ************************* */

.Marquee__Wrapper {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  margin: 0px 0px 15vh;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.Marquee__TextHolder {
  display: flex;
  flex-direction: row;
}

.Marquee__TextGroup {
  animation: 20s linear 0s infinite normal none running marquee;
  display: inline-block;
}
.Marquee__Word {
  display: inline-block;
  font-size: 16px;
  /* opacity: 0.8; */
}
.Marquee__Dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: var(--main-col);
  vertical-align: middle;
  margin: 0px 30px;
}

@media screen and (max-width: 850px) {
  .Marquee__Dot {
    width: 4px;
    height: 4px;
    margin-top: -4px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}

@media (max-width: 1020px) {
  .ft_hfr_1 {
    width: 70%;
    margin-right: 20%;
  }

  .ft_hfr_1 p:first-child {
    font-size: 28px;
  }

  .ft_hdr {
    margin-bottom: 7vh;
  }
  .Marquee__Wrapper {
    margin: 5vh 0px 5vh;
  }

  .get_inv {
    display: none;
  }

  .ft_r1 ul {
    align-items: center;
  }
}
@media (max-width: 760px) {
  .ft_inn ul li a p {
    width: 0px;
    overflow: hidden;
  }
  .ft_cont {
    font-size: 13px;
  }
  .ft_r3 {
    margin-top: 30px;
    font-size: 12px;
  }
  .ft_inn {
    margin-bottom: 7vh;
  }
}

@media (max-width: 700px) {
  .ft_hfr_1 {
    margin-right: 0px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .Marquee__Word {
    display: inline-block;
    font-size: 15px;
  }

  .hm_ft {
    padding-top: 0px;
    padding: 5vh 5vw 0px;
  }
  .ft_hfr_1 {
    width: 90%;
  }
  .ft_hfr_1 p:nth-child(2) {
    font-size: 16px;
  }
}

/* My Algo Wallets */
#walletconnect-wrapper {
  transform: scale(0.75) !important;
}

iframe {
  pointer-events: none !important;
}

.header_nav{
  background-image: linear-gradient(
    -225deg,
    rgb(211, 206, 134) 0%,
    rgb(134, 119, 119) 29%,
    grey 67%,
    rgb(119, 153, 119) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width : 400px) and (min-width: 350px ) {
  .amountToCommit input {
   font-size: 10px  !important;
   padding: 7px 8px !important;
   margin-left: -18px !important;
  }
  .max {
    font-size: 9px !important;
  }
}

@media screen and (max-width : 454px) and (min-width: 400px ) {
  .amountToCommit input {
    font-size: 11px !important;
    margin-left: -8px;
   }
}

@media screen and (max-width:415px) and (min-width: 400px) {
  .timer {
    font-size: 10px !important;
  }
  
}
@media screen and (max-width:400px) and (min-width: 360px) {
  .timer {
    font-size: 9px !important;
  }
  .addressTxt {
    max-width: 100px !important;
}
.decisions {
  margin: 10px !important;
  padding: 5px !important;
}
}

/* @media screen and (max-width:600px) and (min-width: 400px) {
  .timer {
   font-size: 12px !important;
  }
} */

/* .record_vote {
  background : #27ae60 !important;
}

.button:hover, .button:active{
  background: #1e7743 !important;
}
.button:active {
  transform: translateY(-4px) !important;
} */

.timer {
  text-transform: uppercase !important;
}
.check {
  color: #2958ff !important;
}

.wallet_content {
  font-family: 'Anybody', 'Courier New', Courier, monospace !important ;
}

@media screen and (max-width : 850px) {
 .confirmation {
   bottom: 60px !important;
   right: 7px !important;
 }
}

.settings__item .settings__content {
  height: 56px !important;
}

.election__card h1,.election__card p{padding-bottom:10px}.election__card{width:25vw;background:var(--on-settings-card);color:var(--wht);box-shadow:0 4px 27px rgba(0,0,0,.05);border-radius:10px;border:solid 1px var(--on-settings-card);padding:10px}@media screen and (max-width:1168px) and (min-width:999px){.election__card{width:22vw}}@media screen and (max-width:999px) and (min-width:750px){.election__card{width:28vw}}@media screen and (max-width:750px){.election__card{width:45vw}}.election__card h1{font-weight:600;font-size:20px}.election__card button{display:flex;text-align:center;align-items:center;justify-content:center;text-transform:uppercase;border:1px solid #3981c6;width:90%;border-radius:10px;height:30px;font-weight:500;font-size:16px;line-height:22px;color:#3981c6;margin-left:10px}.election__card button:hover{background:#3981c6;color:#fff}
.election,.election .election__content{display:flex;display:flex}.election{flex-direction:column;margin-top:100px;margin-left:300px;align-items:center;justify-content:center;position:relative}@media screen and (max-width:999px){.election{margin-left:unset;margin-bottom:100px}}@media screen and (max-width:700px){.election{margin-bottom:100px}}.election .election__content{flex-direction:column}.election .election__content .election__cards{margin-left:-40px;margin-top:14px;display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:13px}@media screen and (max-width:750px){.election .election__content .election__cards{grid-template-columns:1fr 1fr;margin-left:2px}}
.search__bar{margin-left:50px;width:45vw;height:39px;background:var(--on-settings-card);color:var(--wht);border:1px solid #979797;box-shadow:0 4px 27px rgba(0,0,0,.05);border-radius:10px;display:flex;text-align:center;justify-content:space-evenly}@media screen and (max-width:650px){.search__bar{width:70vw;margin-left:10px}}.search__bar input{width:80%;margin-right:58px;margin-left:-23px}.search__bar .uil-search{font-size:18px;margin:9px 31px 0 10px}
.menu-bars,.settings{background:#f5f5f5;cursor:pointer}.desk_nav ul li{margin:25px;margin-left:-5px!important;font-weight:700}.desk_nav ul li:active,.desk_nav ul li:hover{margin-left:-10px!important;border-right:5px solid #3981c6!important;background-color:var(--background--hover);color:#3981c6}.settings{margin:10px 20px 10px 10px;border:1px solid grey;border-radius:5px;width:40px}.settings:active{color:#fff;background-color:#000}.menu-bars{margin-top:11px;border:1px solid grey;border-radius:5px;margin-right:6px}.bar1,.bar2,.bar3{width:21px;height:2px;background-color:#000;margin:5px 5px 5px 6px;transition:.4s}.change .bar1{transform:rotate(-45deg) translate(-6px,5px)}.change .bar2{opacity:0}.change .bar3{transform:rotate(45deg) translate(-5px,-4px)}
.desk__menubar{z-index:1;position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.2);opacity:1;transition:opacity .2s ease-in-out;cursor:auto}.desk__menubar .desk__menuitem{position:absolute;background-color:var(--on-settings-card);flex-direction:column;display:flex;border:solid 1px var(--on-settings-card);border-radius:10px;width:190px;top:64px;right:232px;color:var(--wht)}.desk__menubar .desk__menuitem ul{display:flex;flex-direction:column;text-align:left}.desk__menubar .desk__menuitem ul .desk{margin-left:10px!important;margin:10px;cursor:pointer;font-weight:700}.desk__menubar .desk__menuitem ul .desk:hover{border-right:5px solid #3981c6!important;background-color:var(--background--hover);color:#3981c6}
.settings__item .settings__content .wallet__disconnect button:hover,.settings__item .settings__content .wallet__disconnect:hover{background:var(--disconnect);color:var(--disconnect-hover)}.settings__item{z-index:1;position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.2);opacity:1;transition:opacity .2s ease-in-out;cursor:auto}.settings__item .settings__content{position:absolute;background-color:var(--on-settings-card);flex-direction:column;display:flex;border:solid 1px var(--on-settings-card);border-radius:10px;width:190px;height:100px;top:64px;right:174px;color:var(--wht)}.settings__item .settings__content .wallet__disconnect{cursor:pointer;margin-left:10px;border:solid 1px var(--disconnect-others);text-align:center;border-radius:3px;margin-right:5px}.settings__item .settings__content .wallet__disconnect:hover button{color:var(--disconnect-hover)}.settings__item .settings__content .wallet__disconnect button{font-weight:700;text-transform:uppercase;color:var(--disconnect)}.settings__item .settings__content .theme-switch-wrapper{display:flex;justify-content:space-between}.settings__item .settings__content .theme-switch{height:24px;position:relative;width:48px;margin-right:-35px;margin-top:16px}.settings__item .settings__content .theme-switch input{display:none}.settings__item .settings__content .slider{background:var(--onSliderColorChange);cursor:pointer;left:-63px;position:absolute;right:61px;top:-12px;bottom:12px;transition:.2s}.settings__item .settings__content .slider::before{bottom:4px;height:19px;left:4px;position:absolute;transition:.2s;width:26px}.settings__item .settings__content .uil-brightness-low{font-size:19px;color:#f7f303}.settings__item .settings__content .uil-moon{font-size:19px;color:#000}.settings__item .settings__content input:checked{background:var(--onSliderColorChange)}.settings__item .settings__content input:checked+.slider::before{transform:translateX(23px)}.settings__item .settings__content .slider.round{border-radius:34px}.settings__item .settings__content .slider.round::before{border-radius:50%}
.create_elt,.propose{position:relative;display:flex}.create_elt,.crt_hd,.propose{display:flex}.crt_hd,.vote_add_img{letter-spacing:1px;text-transform:uppercase}.addItemButt p,.add_butt p,.v_inp_cov .inp_tit,.vote_add_img p{opacity:.7;color:var(--wht)}.propose{flex-direction:column;margin-top:100px;margin-left:200px;align-items:center;justify-content:center}@media screen and (max-width:1000px){.propose{margin-left:0}}.create_elt{margin-top:-100px;width:100%;min-height:50vh;color:var(--txt-alt);padding:15vh 5vw 5vh;flex-direction:column;font-weight:400;align-items:center}.create_elt_inn{width:420px;max-width:88vw}.crt_hd{font-size:15px;color:var(--wht);padding:15px 0 16px;background:var(--on-settings-card);position:fixed!important;margin-top:-7px;z-index:2;top:calc(var(--sm-hd-height));border-bottom:1px solid var(--border-default);width:30%}.item_img_preview,.vote_add_img,.vote_hd_img{display:flex;background:var(--back-1)}@media screen and (max-width:1128px) and (min-width:1047px){.crt_hd{width:40%}}@media screen and (max-width:1047px) and (min-width:980px){.crt_hd{width:43%}}@media screen and (max-width:980px) and (min-width:850px){.crt_hd{width:47%}}@media screen and (max-width:850px){.crt_hd{width:unset}}.crt_hd p{opacity:.7}.light_theme .create_elt,.light_theme .crt_hd{font-weight:500}.vote_sect{width:100%;display:flex;padding:20px 0;justify-content:center;flex-direction:column}.addItemButt,.vote_add_img{font-weight:500;padding:15px 20px}.vote_sect_img{display:flex;flex-direction:row;margin-bottom:20px;align-items:center}.vote_hd_img{width:50px;height:50px;overflow:hidden;font-size:20px;justify-content:center;align-items:center;margin-right:30px;border:1px solid var(--back-1)}.inpCont_cand,.inpCont_full,.item_img_preview img,.item_list_img img,.vote_hd_img img{width:100%}.vote_add_img{flex:1;font-size:13px;line-height:14px;border-radius:8px;color:var(--white);align-items:center;justify-content:center;cursor:pointer}.v_r1{display:flex;align-items:center;flex-direction:row;justify-content:space-between}.v_inp_cov{width:calc(50% - 10px);margin:0 0 25px}.v_inp_cov .inp_tit{font-size:15px;margin-bottom:12px;padding-left:2px}.v_inp_cov input{width:100%;flex:1;font-size:15px;padding:10px 12px;border-radius:12px;border:1px solid var(--bord-dark)}.v_inp_cov input::placeholder{font-size:14px;letter-spacing:.3px}.add_item_sect{display:flex;flex-direction:column}.add_item_sect_r1{display:flex;width:100%;align-items:center;flex-direction:row}.item_img_preview{width:40px;height:40px;overflow:hidden;font-size:18px;justify-content:center;align-items:center;margin-left:15px;border-radius:100%;border:1px solid var(--back-1)}.addItemButt,.crt_butt button{font-size:13px;line-height:14px;letter-spacing:1px}.addItemButt,.add_item_sect_r1 .add_butt{display:flex;border-radius:8px;cursor:pointer;background:var(--back-1)}.addItemButt{flex:1;align-items:center;justify-content:center;text-transform:uppercase;margin-top:20px}.add_item_sect_r1 .add_butt,.crt_butt button,.item_list_name,.rm_butt{font-weight:600;text-transform:uppercase}.add_item_sect_r1 .add_butt{color:#3a4be8;font-size:12px;margin-left:20px;padding:14px 20px;white-space:nowrap;flex-direction:row;align-items:center}.crt_butt,.item_list{align-items:center;display:flex}.ensure_txt{opacity:.6;font-size:12px;color:var(--wht);margin-top:10px;padding-left:2px}.item_list{width:100%;flex-direction:row;margin-bottom:15px;justify-content:space-between}.item_list_img{width:40px;height:40px;overflow:hidden;display:flex;font-size:18px;justify-content:center;align-items:center;margin-right:15px;border-radius:100%;background:var(--back-1);border:1px solid var(--back-1)}.item_list_name,.rm_butt{display:flex;cursor:pointer;font-size:12px;padding:15px;border-radius:10px;white-space:nowrap;flex-direction:row;align-items:center;background:var(--back-1)}.item_list_name p,.rm_butt p{opacity:.7;color:var(--wht);text-align:center}.item_list_name{flex:1;margin-right:15px}.crt_butt{margin:0;flex-direction:column}.crt_butt button{display:flex;border-radius:8px;padding:18px 20px;align-items:center;justify-content:center;background:#2958ff;color:#ccf381;width:100%}.crt_butt a{font-size:12px;color:#555;padding:0 5px}.safety{margin-top:15px;font-size:10px;padding-left:15px;text-align:center}.safety span{line-height:13px}input:invalid{border:1px solid #ff4343!important}.check{display:flex;margin-top:12px}.conditions{margin-right:120px}@media screen and (max-width:400px){.conditions{margin-right:33px}}
.voting__page{margin-top:100px;margin-left:300px;display:flex;align-items:center;justify-content:center;position:relative;flex-direction:column}.voting__page .voting__header{background-color:var(--on-voting-bg);width:60vw;opacity:.7;box-shadow:0 4px 27px rgba(0,0,0,.05);border-radius:10px;border:1px solid var(--on-voting-bg);color:var(--wht)}@media screen and (max-width:999px){.voting__page{margin-left:0}.voting__page .voting__header{width:90vw}}.voting__page .voting__header h1{text-align:center;align-items:center;justify-content:center;font-weight:bolder;font-size:21px;padding:10px;text-transform:uppercase}.voting__page .voting__header p{margin:10px;text-align:left;justify-content:left;align-items:left}.voting__page .voting__card_header{display:flex;justify-content:space-between;flex-direction:row}.voting__page .voting__card_header .voting__card{width:30vw;background:var(--on-settings-card);color:var(--wht);border:1px solid var(--on-voting-bg);padding:10px;margin:10px;box-shadow:0 4px 27px rgba(0,0,0,.05);border-radius:10px}@media screen and (max-width:999px) and (min-width:450px){.voting__page .voting__card_header .voting__card{width:45vw}}.voting__page .voting__card_header .voting__card h1{text-align:left;align-items:left;justify-content:left;font-weight:600;font-size:21px;padding:10px;text-transform:uppercase}.voting__page .voting__card_header .voting__card button{display:flex;text-align:center;align-items:center;justify-content:center;text-transform:uppercase;border:1px solid #3981c6;width:25vw;margin:20px;border-radius:10px;height:45px;font-weight:500;font-size:16px;line-height:22px;color:#3981c6}@media screen and (max-width:450px){.voting__page .voting__card_header{flex-direction:column}.voting__page .voting__card_header .voting__card{width:85vw}.voting__page .voting__card_header .voting__card button{width:40vw}}.voting__page .voting__card_header .voting__card button:hover{background:#3981c6;color:#fff}